.img {
  width: 130px; /* prend la largeur du conteneur */
  aspect-ratio: 4 / 4; /* 4 de large pour 3 de haut */
  object-fit: cover; /* pour que l'image ne soit pas écrasée */
  border-radius: 50%;
  max-width: 140px;
}

.connectionGreen {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.container {
  max-width: 130px; /* ajustez la largeur maximale selon vos besoins */
  margin: 0 auto; /* centre le conteneur horizontalement */
  padding: 20px; /* ajout de marges intérieures pour l'espace autour du contenu */
  position: relative;
}

.connectionGreen.online {
  background-color: green;
}
